@import '../../scss/config';

button.toggle-button {
  background: $dark-purple;
  border: 0;
}

button.toggle-button:hover {
  color: $purple-color;
  background: $white;
  border: $purple-color 1px solid;
}
