@import '../../scss/config';

// DatePicker
.my-custom-input {
  border-radius: 4px;
  font-size: medium;
  margin-top: 0;
  padding: 0.4rem;
}

// Slider
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 25px;
  background: #f7f7f9;
  border: rgb(221, 219, 219) solid 1px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px;
  height: 25px;
  background: #3f4257;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-primary,
.switch-on.btn,
.switch-off.btn {
  background: $dark-purple;
  border: 2px solid $white;
  color: $white;
  &:hover {
    background: $purple-color;
    color: $white;
  }
}

@media (max-width: 571px) {
  .university[style] {
    padding-left: 0.25rem !important;
  }
  .degree[style] {
    padding-right: 0.25rem !important;
  }
}
